// Esquema de colores

//Primer esquema de color

$white: #FFF;
$platinum: E8E8E8;
$grey: #BABABA;

//Segundo esquema de color

$Carmine-pink:#E94F37;
$Salmon: #EF7F6D;
$Spanish-pink: #F7BFB6;

//Tercer esquema de color
$Black-olive:#393E41;
$Granite-gray:#5D6163;
$Old-silver: #818486;

//Cuarto esquema de color
$Verdigris: #44BBA4;
$Medium-aquamerine:#66C7B4;
$Perl-Aquea: #88D3C5;

//Tipografía
$playfair: 'Playfair Display', serif;
$open-sans: 'Open Sans', sans-serif;

// Peso de fuentes
$regular: 400;
$semi-bold: 600;
$bold: 700;

//Tamaños de las tipografías

$xxxx-large: 130px;
$xxx-large: 100px;
$xx-large: 30px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;


